{{#each hikes as |hike|}}
  {{log hike}}
  <section data-id="{{hikes.id}}">

    <p>
      {{#if hike.location}}
        {{hike.location}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    <p>
      {{#if hike.trail_name}}
        {{hike.trail_name}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    <p>
      {{#if hike.distance_miles}}
        {{hike.distance_miles}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    <p>
      {{#if hike.date}}
        {{hike.date}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
     {{> partial}}

     <button data-id="{{hike.id}}" class="btn btn-danger delete">Remove</button>

    </section>

{{/each}}
